<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Con_fail.css">
    <title>Connection Failed</title>
</head>
<body>
    <header>Connection Failed</header>
    <div class="message">
        Couldn't connect to the machine<br>Make sure you enter correct IP/name.
    </div>
        <a href="./hmi" class="btn">Retry</a>
    <div class="message">Read external sensor data (in case of absent machine IP/name)</div>
    <a href="./Sensor" class="btn">Start</a>
</body>
</html>