<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/DT_end.css">
    <title>DT End</title>
</head>
<body>
    <header>Report</header>
    <div class="content">The data was stored in the database</div>
    <a href="./logs" class="btn" id="log">View Logs</a>
    <a href="./report" class="btn" id="log">Report</a>
    <a class="btn" href="./home">Back to Home</a>
</body>
</html>