<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/help.css">
    <title>Help</title>
</head>
<body>
    <header>Help</header>
    <div class="content">
        <ol>
            <li>Please watch the video tutorial if you want to know how to use the tool</li>
            <li>Please check if you have followed all the instructions carefully as per tutorial</li>
            <li>Please read the README.md on GitHub carefully</li>
            <li>GitHub link- <a href="https://github.com/Itachi666IM/DT">Click</a> </li>
        </ol>
    </div>
    <a href="./home" class="btn">Home</a>
</body>
</html>