<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./help">Help</a></li>
        </ul>
    </nav>
    <div class="content">Digital Twin Tool</div>
    <div class="box">
        <img src="/static/dt.jpeg" alt="Digital Twin">
    </div>
    <div id="cp">@copyright image - Norla corporation</div>
    <div class="text">
        Welcome to the home page of the Digital Twin Tool, in this page I will tell you more about the tool and in the end I will also share a tutorial video so that you can use the tool as you like. This is a tool by which you can create your own digital twin through the front-end only, without writing any code.
    </div>
    <div class="text">
        Steps to create your Digital Twin-
        <ol>
            <li>Login using the username and password</li>
            <li>Save your machine/device and click on connect</li>
            <li>There will be a hardware registration page to register your hardware</li>
            <li>After you register your hardware, we move on to device connection</li>
            <li>Enter your device IP address to connect</li>
            <li>It may take a few minutes to connect depending on the number of nodes in your machine</li>
            <li>If you have entered the correct IP, you will see that the machine components are visible</li>
            <li>You can add nodes using the dropdown list provided</li>
            <li>Once you add all the nodes, you can start the Digital Twin</li>
            <li>You will see that the nodes will respond by changing the color if they are active</li>
            <li>The analytics have been customized for tutorial purpose, you can change your analytics as per requirement</li>
            <li>On ending, you can see the report and interpret the data accordingly</li>
        </ol>
    </div>
    <div class="text">
        Video Tutorial- 
    </div>
        <video src="/static/video.mp4" controls></video>
</body>
</html>