<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_success.css">
    <title>Login Success</title>
</head>
<body>
    <header>Login Successful</header>
    <div class="content">Proceed to Register your Device</div>
    <a href="./Machine_info" class="btn">Go</a>
</body>
</html>