<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor</title>
</head>
<body>
    <header>Sensor</header>
    <div class="content">
        The sensor data is being read
    </div>
    <a href="./DT_end" class="btn">End</a>
</body>
</html>