<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/test.css">
    <title>Main</title>
</head>
<body>
    <div class="top" >
        <button class="btn" id="a">Start</button>
    </div>
    <div class="top" >
        <button class="btn" id="b">Stop</button>
    </div>
    <div class="top" >
        <button class="btn" id="c">Reset</button>
    </div>
</body>
</html>