<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/test.css">
    <title>Main</title>
</head>
<body>
    <div class="top" id="a">
        <button class="btn">Start</button>
    </div>
    <div class="top" id="b">
        <button class="btn">Stop</button>
    </div>
    <div class="top" id="c">
        <button class="btn">Reset</button>
    </div>
</body>
</html>