<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/test.css">
    <title>Main</title>
</head>
<body>
    <div class="top" id="a">Start</div>
    <div class="top" id="b">Stop</div>
    <div class="top" id="c">Reset</div>
</body>
</html>